{% include 'header.html' ignore missing %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">I'm a Software Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Lawrence is a University Electronics and Computer Engineering Graduate</p>
                        <p>Ever since he graduated, He has taken a passion with developing and has gone ahead to attend a number of courses to better himself.</p>
                        <p>He has gone ahead to contribute to a lot of open source projects and build so many other apps, both web and local based apps. This blog whose backend is powered by Python's Flask is just another way to showcase some of his skills.</p>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' ignore missing %}